:root {
  --color-theme: #a9a9a9;
  --color-theme-font: #fff;
  --color-black: #323232;
  --color-blue: #0079c1;
  --color-purple: #9081bc;
  --color-green: #338033;
  --max-width: 600px;
  --animate-time: 1.4s;
  --align: 0.15em;
}

@custom-media --small-main-viewport (max-width: 600px);

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next","Helvetica Neue",sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga" 1,"calt" 0;
}

/* header */
header.mdl-layout__header {
  z-index: 1;
}

header.mdc-toolbar,
.mdc-temporary-drawer__header {
  background-color: var(--color-theme);
}

.mdc-temporary-drawer {
  text-transform: uppercase;
}

.mdc-temporary-drawer__header {
  color: var(--color-theme-font);
  background: url("./../../assets/green-blue-small.png") no-repeat top center, linear-gradient(to right, #502070 0%, #2f3c90 100%);
}

.site-header {
  display: flex;
  align-items: center;
  background: var(--color-theme);
  color: var(--color-theme-font);
  //z-index: 999;

  @media (--small-main-viewport) {
    flex-wrap: wrap;
    .site-nav {
      background: var(--color-black);
      order: 2;
      flex-basis: 100%;
    }
    .site-nav span {
      font-size: 1rem;
    }
    .app-actions {
      margin-left: auto;
    }
  }

  & a {
    color: var(--color-theme-font);
    text-transform: uppercase;
  }

}

.app-actions {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.site-nav {
  text-align: center;
  flex: 1;

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
  }

  & .active a {
    background: var(--color-blue);
    color: var(--color-theme-font);
  }

  & a {
    color: var(--color-theme-font);
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

authenticate {
  color: var(--color-black);
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 0.9375rem;
  border-bottom: 4px solid transparent;
  vertical-align: -var(--align);
  line-height: var(--align);
  display: inline-block;
  vertical-align: top;
}

.top-nav {
  position: relative;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #efefef;
}

.top-nav-title,
.top-nav-link {
  color: var(--color-theme-font);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 0.9375rem;
  border-bottom: 4px solid transparent;
  vertical-align: -var(--align);
  line-height: var(--align);
  display: inline-block;
  vertical-align: top;
}

.top-nav-link {
  cursor: pointer;
}

h1 {
  line-height: 1rem;
}

.svg-icon {
  fill: currentColor;
  pointer-events: none;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -var(--align);
  padding-right: var(--align);
}

/* map view */

.main,
webmap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main::after {
  content: "";
  background: url("./../../assets/icons/icon-256x256.png") no-repeat center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* esri widgets */

/* spinner */
.spinner {
  stroke: var(--color-green);
  animation: rotator var(--animate-time) linear infinite;
}

.directions .spinner {
  stroke: #fff;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash var(--animate-time) ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
